:root{
    --primary-color: #457B9D;
    --secondary-color: #A8DADC;
    --tertiary-color: #E63946;
    --accent-color: #F1FAEE;
    --white: white;
    --black: black;
}


/* Specific to Shop page */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Nav */

.shop-link-wrap {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 0 40px;
    justify-content: flex-end;
}

.shop-link-wrap ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    width: 50%;
    align-items: center;
}

.shop-link-wrap ul li a {
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--black);
    padding: 7px 25px;
    transition: .3s;
    position: relative;
}

.shop-link-wrap ul li a::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: var(--black);
    bottom: 0;
    left: 0;
}

.shop-link-wrap ul li a:hover::before {
    width: 70%;
    transition: .5s ease-in-out;
}

.shop-link-wrap ul li a.center::before {
    left: 50%;
    transform: translateX(-50%);
}

.shop-link-wrap ul li a:hover {
    color: var(--primary-color);
}

/* Hero */

.shop-page {
    margin-top: 65px;
}

.shop-hero {
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 68px;
}

.shop-hero h1 {
    color: var(--black);;  
    font-size: 80px;
    line-height: 0.9;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    position: relative;
    font-weight: 500;
}

.shop-hero::before {
    content: "";
    background-image: linear-gradient(
        235deg,rgba(0,0,0,0) 10%, var(--primary-color) 150%), url(../images/waxroombg.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    margin-top: 68px;
    height: 25vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .2;
}

.shop-page h2 {
    padding: 30px 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 100;
    color: var(--black);
}

/* Shop section */

.shop-container {
    height: auto;
    padding: 10px 50px;
}

.shop-container h1 {
    font-weight: 500;
    font-size: 30px;
    font-family: 'Rock Salt', cursive;
    padding: 0 40px;
    text-align: left;
    border-bottom: 2px var(--tertiary-color) solid;
}

.shop-wrap {
    display: flex;
    flex-direction: row;
}

.shop-left {
    flex: 1;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.product-btn {
    margin: 20px 0;
    width: 70%;
    background-color: transparent;
    color: black;
    font-size: 18px;
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.product-btn:hover {
    background-color: var(--primary-color);
    color: var(--white);
    transition: .3s ease-in;
}

.shop-right {
    flex: 5;
    padding: 10px 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.product img {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in;
}

.product img:hover {
    opacity: .7;
    transform: scale(1.1);

}

.product h3 {
    padding: 5px 0;
    margin-top: 10px
}

.product h4 {
    font-style: italic;
    font-size: 15px;
}

.btn-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-wrapper button {
    margin: 5px 3px;
    background-color: transparent;
    color: black;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.btn-wrapper button:hover {
    background-color: var(--primary-color);
    color: var(--white);
    transition: .3s ease-in;
}

/* Media Queries */

@media screen and (max-width: 980px) {
    body, html {
        overflow-x: hidden;
    }
    .navbar {
        display: flex;
    }

    .nav-wrap {
        width: 100%;
    }

    .logo a p {
        font-size: 18px;
    }

    .shop-link-wrap {
        padding: 0;
    }

    .shop-hero {
        height: 25vh;
        margin-top: 100px;
    }

    .shop-hero::before {
        height: 25vh;
        margin-top: 100px;
    }

    .shop-hero h1 {
        font-size: 65px;
    }

    .shop-page h2 {
        padding: 30px 50px;
    }


    .product-btn {
        width: 100%;
    }

    .shop-container {
        padding: 10px 20px;
    }

    .shop-wrap {
        flex-direction: column;
    }

    .shop-left {
        flex-direction: row;
    }

    .shop-right {
        align-items: center;
        justify-content: space-around;
    }

    .product {
        max-width: 50%;
    }

}

@media screen and (max-width: 500px){
    body, html {
        overflow-x: hidden;
    }

    nav .navbar {
        padding: 0;
    }

    .shop-link-wrap {
        width: 100%;
        justify-content: center;
    }

    .shop-link-wrap ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shop-link-wrap ul li a {
        padding: 5px 10px;
    }

    .shop-hero h1 {
        font-size: 40px;
    }

    .shop-hero {
        height: 35vh;
        margin-top: 125px;
    }

    .shop-hero::before {
        height: 35vh;
        margin-top: 125px;
    }

    .shop-page h2 {
        padding: 30px 15px;
        font-size: 20px;
    }

    .shop-container h1 {
        font-size: 25px;
        padding: 0 20px;
        text-align: center;
    }

    .shop-left {
        justify-content: center;
    }

    .product-btn {
        margin: 10px 0;
        font-size: 12px;
        padding: 5px;
    }

    .product {
        max-width: none;
    }

}

/* Details page */

.details{
    margin-top: 65px;;
}

.details:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
    margin-top: 65px;
	left: 0;
	top: 0;
	background: url("../images/snowybridgebg.jpeg") no-repeat center;
	background-size: cover;
	filter: blur(10px);
	z-index: -1;
}

.product-container {
    height: 90vh;
    padding: 20px 150px;
    display: flex;
    padding: 50px 100px;
}


.product-img-container {
    display: flex;
    height: 100%;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);
    transition: all .5s ease;
    margin-right: 25px;
}

.product-img-container:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 15px 5px var(--tertiary-color);
}

.product-img-container img {
    width: 100%;
    height: 100%;
}

.info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
    background-color: white;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);
    transition: all .3s ease;
    padding-bottom: 175px;
    margin-left: 25px;
}

.info-container:hover {
    box-shadow: 0px 0px 15px 5px var(--tertiary-color);
}

.info-container h2 {
    font-size: 40px;
    font-family: 'Rock Salt', cursive;
    position: relative;
    margin-bottom: 40px;
}

.info-container h2::after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 400px;
    border-radius: 2px;
    background-color: var(--tertiary-color);
}

.info-container p {
    padding: 10px 0;
    font-size: 20px;
}

.btn-wrapper3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    
}

.btn-wrapper3 button {
    background-color: transparent;
    color: black;
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    flex: 1;
}

.btn-wrapper3 button:hover {
    background-color: var(--primary-color);
    color: var(--white);
    transition: .3s ease-in;
}

@media screen and (max-width: 980px) {
    body, html {
        overflow-x: hidden;
    }

    .details {
        margin-top: 15vh;
    }

    .product-container {
        flex-direction: column-reverse;
        margin-top: 200px;
    }

    .product-container div {
        height: 40vh;
        margin: 0;
        margin-bottom: 40px;
    }

    .btn-wrapper3 {
        padding-bottom: 0;
    }

    .btn-wrapper3 button {
        margin: 0 10px;
    }

    .info-container {
        padding-bottom: 0;
    }

    .info-container h2 {
        width: 70%;
        font-size: 25px;
        margin-bottom: 0;
    }

    .info-container h2::after {
        width: 200px;
    }

    .info-container p {
        padding: 5px 10px;
    }

    .info-container a {
        padding-bottom: 20px;
    }

    .info-container .btn-wrapper3 {
        margin-bottom: 0;
    }
    
}

@media screen and (max-width: 480px) {
    .product-container {
        padding: 20px;
    }
}
