:root{
  --primary-color: #457B9D;
  --secondary-color: #A8DADC;
  --tertiary-color: #E63946;
  --accent-color: #F1FAEE;
  --white: white;
  --black: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.cart {
  position: fixed;
  top: 64px;
  right: 0;
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: white;
  overflow: auto;
  padding: .5rem;
  box-shadow: -17px 20px 23px -9px rgba(0,0,0,0.69);
  -webkit-box-shadow: -17px 20px 23px -9px rgba(0,0,0,0.69);
  -moz-box-shadow: -17px 20px 23px -9px rgba(0,0,0,0.69);
  border-bottom-left-radius: 5%;
  z-index: 9999;
}

.cart h2 {
  font-size: 1.5rem;
  padding-bottom: 4px;
  margin: 1rem 0;
  border-bottom: var(--tertiary-color) 2px solid;
}

.cart .close {
  cursor: pointer;
  color: var(--black);
  padding: 5px;
}

.cart-container {
  display: flex;
  justify-content: space-between;
}

.cart .close:hover {
  text-decoration: underline;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-row p {
  padding-right: 20px;
}

.flex-row p i {
  padding: 0 10px;
}

.cart-closed {
  cursor: pointer;
  padding: 7px 25px;
}

.cart-closed img {
  width: 40px;
  height: 40px;
  transition: .2s ease-in-out;
}

.cart-closed img:hover {
  transform: rotate(-8deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
  z-index: 9999999;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

.checkout-btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  width: 90%;
  background-color: var(--primary-color);
  color: var(--accent-color);
  font-size: 18px;
  padding: 10px;
  border-radius: 7px;
  margin: 10px;
}

.checkout-btn:hover {
  background-color: var(--secondary-color);
  color: var(--black);
  transition: .3s ease-in;
}

@media screen and (max-width: 880px) {
  .cart {
    max-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .cart {
    max-width: 100%;
  }

  .cart-closed img {
    height: 20px;
    width: 20px;
  }
}
